
<section
  class="relative flex flex-col md:flex-row items-center justify-center min-h-[calc(100vh-5rem)]
  overflow-hidden bg-gradient-to-r from-[#FFF9F4] via-[#FFEEDC] to-[#FFDDBD] text-[#1C1C1C] font-['Poppins']"
>
  <div class="w-full md:w-1/2 flex items-center justify-center p-6 md:p-10">
    <img
      src="images/navidad.jpg"
      alt="Cositas Sami Logo"
      class="max-h-[80vh] w-auto object-contain rounded-2xl shadow-2xl hover:scale-105 transition-transform duration-500 ease-in-out"
    />
  </div>

  <div
    class="w-full md:w-1/2 flex flex-col items-center md:items-start text-center md:text-left px-6 md:px-12 lg:px-24 space-y-6 animate-fade-in"
  >
    <span class="text-accent-400 text-lg uppercase tracking-widest">
      Bienvenido a <strong>Cositas Sami</strong>
    </span>

    <h1
      class="text-4xl md:text-6xl drop-shadow-[0_5px_10px_rgba(0,0,0,0.6)]"
    >
      Encontrarán los mejores productos
    </h1>

    <p
      class="max-w-lg text-base md:text-lg font-light text-black-200 leading-relaxed"
    >
      Observe los diferentes productos que ofrecemos y pregunte sin compromiso.
    </p>
  </div>
</section>
