<div class="bg-white rounded-xl shadow-md hover:shadow-lg transition p-4 text-center w-[220px] sm:w-[240px] mx-auto">

  <div class="overflow-hidden rounded-lg mb-4">
    <img
      [src]="producto.imagen"
      alt="{{ producto.nombre }}"
      loading="lazy"
      class="w-full h-44 object-contain transition-transform duration-300 hover:scale-110 cursor-pointer"
    />
  </div>
  <h3 class="text-lg font-semibold text-[#3B2F2F] mb-1">
    {{ producto.nombre }}
  </h3>
  <p class="text-sm text-gray-600 mb-3">
    {{ producto.precio | currency:'₡' }}
  </p>
  
<button
  (click)="abrirDetalle()"
  class="bg-[#FF9D7C] hover:bg-[#FF9D7C] text-white px-4 py-2 rounded-full text-sm shadow-md transition"
>
  Ver más
</button>

</div>
